body{
      box-sizing: border-box;
}

.container {
      border: 3px solid #48CAE4;
      max-width: 600px;
      min-height: 600px;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      
}

.flex-item {
      border: 3px solid #001845;
      border-radius: 10px;
      text-align: center;
      width: 150px;
      margin: 10px;
      /* flex-grow: 1; */
      height: 150px;
      color: #001845;
      background-color: #C4C4C4;
      line-height: 150px;
      font-size: 30px;
      font-weight: 600;
}

@media (max-width: 800px){
      .container{
            flex-direction: column;
      }
}
 
/* .item1 {
      flex: 2 1 150px;
}
.item2 {
      align-self: flex-start;
      order: 1;
      flex: 1 1 100px;
}

.item3 {
      order: 3;
      flex: 5 1 100px;
}

.item4 {
      order: 4;
      flex: 1 1 100px;
}

.item5 {
      order: 5;
      flex: 1 1 100px;
}

.item6 {
      order: 6;
      flex: 3 1 100px;
}

.item7 {
      order: 7;
      flex: 1 1 100px;
}

.item8 {
      order: 8;
      flex: 2 1 100px;
}

.item9 {
      order: 9;
      flex: 1 1 100px;
} */